<div class="row">
 <div class="col-md-6 sm-order-0">
  <a href="spreadsheets-schedule">
   <h3>
    Best Practices in Data Organisation Using Spreadsheets
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-md-6 sm-order-4">
  <a href="git-novice-schedule">
   <h3>
    Version Control with git
   </h3>
  </a>
  See course schedule for lesson details
 </div>
</div>
<div class="row">
 <div class="col-md-6 sm-order-1">
  <a href="openrefine-data-cleaning-schedule">
   <h3>
    Data Cleaning with OpenRefine
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-md-6 sm-order-5">
  <a href="python-novice-schedule">
   <h3>
    Building Programs with Python
   </h3>
  </a>
  See course schedule for lesson details
 </div>
</div>
<div class="row">
 <div class="col-md-6 sm-order-2">
  <a href="project-novice-schedule">
   <h3>
    Managing Academic Software Development
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-md-6 sm-order-6">
  <a href="r-novice-schedule">
   <h3>
    Data Analysis and Visualization in R
   </h3>
  </a>
  See course schedule for lesson details
 </div>
</div>
<div class="row">
 <div class="col-md-6 sm-order-3">
  <a href="shell-novice-schedule">
   <h3>
    Automating Tasks with the Unix Shell
   </h3>
  </a>
  See course schedule for lesson details
 </div>
</div>