<div class="row row-cols-sm-1 row-cols-md-2">
 <div class="col-sm-12 col-md-6 sm-order-first">
  <a href="spreadsheets-schedule">
   <h3>
    Best Practices in Data Organisation Using Spreadsheets
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-sm-12 col-md-6 sm-order-last">
  <a href="git-novice-schedule">
   <h3>
    Version Control with git
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-sm-12 col-md-6 sm-order-first">
  <a href="openrefine-data-cleaning-schedule">
   <h3>
    Data Cleaning with OpenRefine
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-sm-12 col-md-6 sm-order-last">
  <a href="python-novice-schedule">
   <h3>
    Building Programs with Python
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-sm-12 col-md-6 sm-order-first">
  <a href="project-novice-schedule">
   <h3>
    Managing Academic Software Development
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-sm-12 col-md-6 sm-order-last">
  <a href="r-novice-schedule">
   <h3>
    Data Analysis and Visualization in R
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-sm-12 col-md-6 sm-order-first">
  <a href="shell-novice-schedule">
   <h3>
    Automating Tasks with the Unix Shell
   </h3>
  </a>
  See course schedule for lesson details
 </div>
</div>